{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

{{!-- <main> --}}
    <main>


        {{!-- <div class="header">
            <a href="#"><img src="/img/arrow-back.png"></a>
            <img src="/img/avatar.jpeg" alt="av-r" class="avatar">

        </div>

        <h2>Мій блог</h2> --}}



        {{!-- <div class="new">

            <span class="fresh">Новий</span>
            <span class="important">Важливо</span>
            <span class="date">25.01</span>
            <p>До біса інженерів та їх розробки, наймаємо пілотів та готуємося до старту, як Маск.</p>
        </div> --}}

        {{!-- <div class="read">
            <span class="fresh">Новий</span>
            <span class="important">Важливо</span>
            <span class="date">15.01</span>
            <p>Ми хотіли, щоб у цій розвалині вмістилося близько 150 людей, щоб їм не було ані сумно, ані смутно.</p>
        </div> --}}

        {{!-- <div class="new">

            <span class="fresh">Новий</span>
            <span class="important">Важливо</span>
            <span class="date">25.01</span>
            <p>До біса інженерів та їх розробки, наймаємо пілотів та готуємося до старту, як Маск.</p>
        </div> --}}

        {{!-- <div class="read">
            <span class="fresh">Новий</span>
            <span class="important">Важливо</span>
            <span class="date">01.01</span>
            <p>Що цей Марті собі дозволяє, що значить "зміни ділера"? Теж мені, експерт.</p>
        </div> --}}


    </main>

    {{!
    Цей код містить лише те, що буде виводитись в

    <body>
        Адже наш layout/default.hbs має вже структуру HTML
        }}